/*
 WARNING:
    Thou shall not edit this file without my permission. If, however, you are in great need, I give you three choices:
         - create another file and use @import
         - create another file and include it with <style>
         - append at the VERY end of this file
    I know git-blame and I'm going to use it!

 CSS Structure
 - GLOBAL
    - Tag cloud
    - Header (blue stripe)
        - Primary menu
        - Secondary menu
    - Sprites
    - MEA Explorer button
 - INDEX PAGE
    - Portlets
    - Index MEA Explorer
*/


/* GLOBAL */
.pull-left { float: left; }
.pull-right { float: right; }
.text-justify { text-align: justify; }
.text-right { text-align: right; }
.text-center { text-align: center; }
.hidden { display: none; }
.visible { display: block; }
td.text-top { vertical-align: top; }

div#informea-staging { background: #ff5a49; width: 100%; height: 25px; color: white; font-size: 20px; padding-top: 5px; text-align: center; }
a { text-decoration: none; color: #1878cc; }
a:hover { color: #ff4b33; text-decoration: underline; }
div.clear { clear: both; }

body.informea {
    margin: 0; padding: 0; color: #333;
    font-family: Calibri, "Trebuchet MS", Arial, sans-serif;
    font-size: 12px;
    line-height: 17px;
}
span.gray { color: #888; }
div#informea div#main { width: 980px; margin: 0 auto; padding: 10px 0; display: block; overflow: hidden; }
div#informea div#main .col3 { float: left; width: 230px; }
div#informea div#main .col3-left { margin-right: 10px; }
div#informea div#main .col3-center { width: 500px; margin-right: 10px; }

div.round { border-radius: 5px; -moz-border-radius: 5px; }

/* GLOBAL :: Tag cloud */
body.informea .tags ul { margin: 0; padding: 10px 2px 2px 2px; text-align: center; background-color: #edf3fe; }
body.informea .tag1 { font-size: 80%; }
body.informea .tag2 { font-size: 90%; }
body.informea .tag3 { font-size: 100%; }
body.informea .tag4 { font-size: 110%; }
body.informea .tag5 { font-size: 120%; }
body.informea .tag6 { font-size: 130%; }
body.informea .tag7 { font-size: 140%; }
body.informea .tag8 { font-size: 150%; }
body.informea .tag9 { font-size: 160%; }
body.informea .tag10 { font-size: 180%; }
body.informea .tag11 { font-size: 200%; }

/* GLOBAL :: Header (blue stripe) */
body.informea .skip-link { display: none; }
div#header {
    background: #2ca0d2;
    -webkit-box-shadow: 0 2px 2px rgb(175, 175, 175);
    box-shadow: 0 2px 2px rgb(175, 175, 175);
}
div#header #masthead { width: 992px; /*1000px; */ margin: 0 auto; display: block; }
div#header #branding { display: block; overflow: hidden; padding: 30px 0 0 10px; }
div#header #logo { margin: 0; padding: 0; }
div#header #logo a {
    display: block;
    width: 452px; height: 37px; margin-bottom: 20px;
    text-indent: -9000px;
    background: url("images/logo-wide.png") no-repeat top left;
}

/* GLOBAL :: Header (blue stripe) :: Primary menu */
ul#menu-primary {
    padding-left: 10px;
    list-style-type: none;
    float: left;
    display: block; margin: 0; position: relative; top: 1px;
    overflow: hidden;
}
ul#menu-primary li, div.menu li { float: left; height: 38px; }
ul#menu-primary a {
    color: #fff;
    font-weight: bold; text-decoration: none; text-transform: uppercase;
    display: block; padding: 10px 15px 10px 15px;
    margin-right: 1px;
}
ul#menu-primary li:first-child a { background: none; }
ul#menu-primary li a:hover {
    color: #444;
    background: #d7f1f7;
    border-top-left-radius: 5px; border-top-right-radius: 5px;
}
ul#menu-primary ul li { width: 185px; }
ul#menu-primary li.current-menu-item > a {
    background: #d7f1f7;
    border-top-left-radius: 5px; border-top-right-radius: 5px;
    color: #444;
}

/* GLOBAL :: Header (blue stripe) :: Secondary menu */
ul#menu-secondary { float: right; width: 350px; margin-top: -80px; padding-left: 0; list-style-type: none;}
ul#menu-secondary li { padding-left: 7px; list-style-type: none; display: inline-block; }
ul#menu-secondary a { color: #fff; text-transform: uppercase; }
ul#menu-secondary a:hover { color: #444; }

/* GLOBAL :: Sprites */
.basel, .cbd, .cites, .cms, .fao, .itpgrfa, .ozone, .ramsar, .rotterdam, .stockholm, .un, .unccd, .unece,
.unep, .unesco, .unfccc, .whc {
    background: url(images/sprites_black&white.png) no-repeat;
    display: inline-block;
}

.basel:hover, .cbd:hover, .cites:hover, .cms:hover,
.fao:hover, .itpgrfa:hover, .ozone:hover, .ramsar:hover,
.rotterdam:hover, .stockholm:hover, .un:hover, .unccd:hover,
.unece:hover, .unep:hover, .unesco:hover, .unfccc:hover, .whc:hover,
.thumbnail {
    background: url(images/sprites.png) no-repeat;
}

.basel, .basel:hover { background-position: 0 0; width: 61px; height: 48px; }
.cbd, .cbd:hover { background-position: 0 -55px; width: 40px; height: 48px; }
.cites, .cites:hover { background-position:  0 -109px; width: 82px; height: 48px; }
.cms, .cms:hover { background-position: 0 -168px; width: 48px; height: 48px; }
.fao, .fao:hover { background-position: 0 -222px; width: 48px; height: 48px; }
.itpgrfa, .itpgrfa:hover { background-position: 0 -274px; width: 48px; height: 48px; }
.ozone, .ozone:hover { background-position: 0 -327px; width: 48px; height: 48px; }
.ramsar, .ramsar:hover { background-position: 0 -384px; width: 44px; height: 48px; }
.rotterdam, .rotterdam:hover{ background-position: -70px -346px ; width: 54px; height: 48px; }
.stockholm, .stockholm:hover { background-position: -80px 0; width: 62px; height: 48px; }
.un, .un:hover { background-position: -85px -58px; width: 54px; height: 48px; }
.unccd, .unccd:hover { background-position: 0 -443px; width: 82px; height: 48px; }
.unece, .unece:hover { background-position: -70px -167px; width: 48px; height: 48px; }
.unep, .unep:hover { background-position: -66px -228px; width: 54px; height: 48px; }
.unesco, .unesco:hover { background-position: -68px -290px; width: 60px; height: 48px; }
.unfccc, .unfccc:hover { background-position: 0 -500px; width: 60px; height: 48px; }
.whc, .whc:hover { background-position: -91px -405px; width: 48px; height: 48px; }

/* GLOBAL :: MEA Explorer button */
#explorer { float: right; position: relative; right: 0; width: 177px; z-index: 999; }
#explorer form { margin: 10px 0 0 20px; }
#explorer div.mea-button {
    position: relative; width: 177px; height: 44px; margin: 0 auto -5px; top: -15px; float: right;
    cursor: pointer;
    background: url(images/btn-explorer.png) no-repeat top left;
}
#explorer .mea-button:hover { background: url(images/btn-explorer.png) no-repeat 0 -44px; }
#explorer div.content {
    margin: 0 auto; position: absolute; right: 0; top: 25px; width: 450px; z-index: 999;
    background-color: #ffeb7f;
    border-radius: 5px 0 5px 5px;
    color: #464646;
}
#explorer ul { list-style-type: none; margin: 0; padding: 0 }
#explorer ul li { margin: 0; padding: 0 }
#explorer ul.border {
    padding: 10px 10px;
    position: relative;
}
#explorer ul.border li.section {
    background-color: #fff;
    padding: 10px 0 10px 10px;
    border-top: 1px dashed #c0c0c0;
    margin: 0;
}
#explorer ul.border li.section:first-child { border-top: none; }
#explorer span.title { font-size: 11px; font-weight: bold; text-transform: uppercase; }
#explorer div.content span.title a { height: 16px; width: 16px; display: block; float: left; margin: 1px 5px 0 5px; }
#explorer div.content span.title a.minus { background: url(images/search-box/minus.png) no-repeat; }
#explorer div.content span.title a.plus { background: url(images/search-box/plus.png) no-repeat; }
#explorer input.text {
    height: 19px; width: 280px; margin-left: 0 !important; padding-left: 0 !important;
    background: transparent url('images/search-box/input-bg.png') repeat-x left center;
    border: 1px solid #babbb8;
}
#explorer form div.explorer_all_treaties_items { margin-top: 5px; }
#explorer form span.theme { color: #999; }
#explorer form div.separator { height: 1px; margin: 0 10px 5px 10px; background-color: #ebebeb; clear: both; }
#explorer div.block { display: block; margin: 15px 0 10px 0; }
#explorer form ul.main-list { float: left; margin: 0; padding: 0; }
#explorer form ul.sublist { margin-left: 20px; margin-bottom: 10px; }
#explorer .selected-terms-holder { padding: 3px 0; }

/* GLOBAL :: Footer */
div#changelog {
    margin-top: 5px;
    border: 1px dotted rgb(44, 160, 210);
    padding: 0 0 0 30px;
    color: rgb(119, 119, 119);
    background: url("images/information.png") no-repeat 1% 48%;
}

#organizations p, #participating_treaties p { padding-top: 40px; }
#footer {
    color: rgb(190, 190, 190);
    background: #16232e;
    padding: 10px 20px;
    -moz-box-shadow: 0px -2px 2px rgb(175, 175, 175);
    -webkit-box-shadow: 0px -2px 2px rgb(175, 175, 175);
    box-shadow: 0 -2px 2px rgb(175, 175, 175);
}
div#footer a { color: #999; font-size: 11px; }
div#footer a:hover { text-decoration: underline; }
div#footer hr { margin: 0; padding: 0; line-height: 0; border: 0; width: 99%; border-bottom: 1px solid rgb(80, 80, 80); }
div#organisations a, #participating_treaties a { text-transform: uppercase; }
div#disclaimer ul { margin-left: 10px; float: left; line-height: 18px; }
div#disclaimer a { font-size: 12px; }
div#disclaimer.footer_section ul li { padding: 0; }
.footer_section { overflow: hidden; }
.footer_section ul { list-style-type: none; padding-left: 0; margin-left: 150px; }
.footer_section ul li { display: inline-block; padding: 0 14px 14px 14px; }
.footer_section ul li p { text-align: center; }
.footer_section_label { display: inline-block; float: left; padding: 20px 10px; }
.footer_section ul li p:hover,
div#regional_treaties h3 {
    width: 150px; margin-top: 10px; display: inline-block;
    color: rgb(150, 149, 149);
    font-size: 14px;
}
div#regional_treaties ul { margin-left: 164px; }
div#regional_treaties ul li { width: 145px; line-height: 13px; padding: 0 18px 6px 0; vertical-align: top; }
div#regional_treaties ul ul { margin-left: 0; }
div#regional_treaties ul ul li { display: block; font-size: 12px; padding-bottom: 10px; }


/* INDEX PAGE */

/* INDEX PAGE :: Portlets */
div.portlet {
    margin-top: 15px; margin-bottom: 6px; padding: 10px;
    display: block;
    border: 1px solid rgb(233, 233, 233);
    background-color: rgb(238, 238, 238);
    /* Round */
    -moz-border-radius: 4px; border-radius: 4px;
    /* Shadow */
    -moz-box-shadow: 0 2px 2px 0 #c2c2c2;
    -webkit-box-shadow: 0 2px 2px 0 rgb(194, 194, 194);
    box-shadow: 0 2px 2px 0 rgb(194, 194, 194);
    /* Gradient */
    background-image: -webkit-linear-gradient(top, white, rgb(237, 237, 237));
    background-image: -moz-linear-gradient(top, white, rgb(237, 237, 237));
    background-image: -ms-linear-gradient(top, white, rgb(237, 237, 237));
    background-image: -o-linear-gradient(top, white, rgb(237, 237, 237));
    background-image: linear-gradient(to top, white, rgb(237, 237, 237));
}

div.portlet div.title {
    width: 100%; padding: 7px 3px;
    background: transparent; color: rgb(68, 67, 67);
    font-size: 18px; letter-spacing: 0;
}
div.portlet div.title a.rss {
    margin: 0; padding: 0; width: 20px; height: 20px;
    display: block; float: right;
    background: url('images/feed.png') no-repeat; }
div.portlet div.content { overflow: hidden; padding: 10px 0 3px 3px; }

div.portlet.whatisinformea { margin-bottom: 0; padding: 5px; background: #D7F1F7; }
div.portlet.whatisinformea div.title { text-align: center; }
div.portlet img.ribbon { float: left; margin: 4px 0 0 80px; }
div.portlet.featured-treaty div.item-title { float: right; width: 150px; }
div.portlet.latest-news ul { list-style-type: none; margin: 0; padding: 0 }
div.portlet.latest-news ul li {
    color: #888;
    margin: 0 0 10px 0; padding-left: 12px;
    background: url("images/arrow1.png") no-repeat 0 3px;
}
ul.featured-tools { padding-left: 30px; }
div.portlet.featured-country { padding: 5px; }
div.portlet.featured-country div#fc-map-canvas { width: 480px; height: 300px; }
div.portlet.featured-country .ui-widget-content { background: transparent; border: 0; }
div.portlet.featured-country li.ui-state-active { border-bottom: 1px solid white; }
div.portlet.featured-country .ui-state-default {
    border: 1px solid #BDBCBC; border-bottom: 1px solid #eafafd;
    background: #eafafd none;
}
div.portlet.featured-country ul.ui-widget-header {
    border-radius: 0; -moz-border-radius: 0; -webkit-border-radius: 0;
    border: 0; border-bottom: 1px solid #d7d7d7; background-color: transparent;
}
div.portlet.featured-country ul.ui-widget-header a {
    font-family: Calibri, "Trebuchet MS", Arial, sans-serif;
    font-size: 11px;
    font-weight: normal;
    color: #000;
}
div.portlet.featured-country .ui-tabs-nav {
    background: none transparent;
}
div.portlet.featured-country .ui-tabs-selected,
div.portlet.featured-country .ui-state-hover {
    background-color: #fff;
    border-bottom: 0;
}
div.portlet.featured-country div.ui-tabs .ui-tabs-panel { padding: 5px 0 0 0; }
div.portlet.featured-country table { border-collapse: collapse; width: 100% }
div.portlet.featured-country table td { height: 24px; padding: 3px; }
div.portlet.featured-country table tr { border: 0; border-bottom: 1px solid #d7d7d7;  }
div.portlet.featured-country table ul { border: 0; margin: 0 0 0 20px; padding: 0; }
div.portlet.featured-country table ul li { margin-bottom: 10px; }
div.portlet.featured-country table p.note { margin: 0; padding: 0; color: #BDBCBC  }
div.portlet.featured-country .text-grey { color: #BDBCBC  }
div.portlet.featured-country div.ui-tabs-hide { display: none; }
/* INDEX PAGE :: Index MEA Explorer */

#informea div.index-explorer { background-color: #fff5c2; width: 460px; margin-bottom: 8px; border: 10px solid #ffe974; }
#informea div.index-explorer div.title {
    background: rgb(255, 233, 116) url("images/MEA_Explorer_label.png") no-repeat;
    margin: 0; padding: 15px 5px 10px 30px;
    color: rgb(39, 39, 39);
}
#informea div.index-explorer div.up { padding: 10px; overflow: hidden; }
#informea div.index-explorer label { cursor: pointer; }
#informea div.index-explorer div.content { margin: 10px 0 0 10px; padding: 10px; }
#informea div.index-explorer div.content ul { list-style-type: none; padding: 0; margin: 0 0 0 20px; }
#informea div.index-explorer div.section { margin-left: 20px; }
#informea div.index-explorer div.filters { margin-left: 20px; }
#informea div.index-explorer li.section p { font-weight: bold; }
#informea div.index-explorer li.section ul { margin: 0; padding: 0; list-style-type: none; }
#informea div.index-explorer li.section ul { margin: 0; padding: 0; list-style-type: none; }


/* Below, you are beyond redemption */

/* TRIAGE */
body.informea a.opened {
    padding-left: 15px;
    background: transparent url('images/collapse.gif') no-repeat left center;
}

body.informea a.closed {
    padding-left: 15px;
    background: transparent url('images/expand.gif') no-repeat left center;
}

body.informea a.loading {
    padding-left: 15px;
    background: transparent url('images/loading-arrow.gif') no-repeat left center;
}
