@media screen {
	/************************************ Global styles common to all pages *******************************************/
	html {
		margin: 0;
		padding: 0;
		border: 0;
		font: inherit;
		vertical-align: baseline;
	}

	article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
		display: block;
	}

	a img {
		border: none;
		outline: none;
	}

	a {
		text-decoration: none;
		color: #1878CC;
	}

	a:hover {
		color: #FF4B33;
		text-decoration: underline;
	}

	input, textarea {
		font-family: Arial, Helvetica, sans-serif;
		font-size: 12px;
	}

	body.informea {
		margin: 0;
		padding: 0;
		background: #f6f6f6;
		font: 12px arial, sans-serif;
		line-height: 18px;
		color: #333;
	}

	#informea #main {
		width: 980px;
		margin: 0 auto;
		padding: 5px 0;
		display: block;
		overflow: hidden;
		background: #fff;
		border-left: 5px solid #eee;
		border-right: 5px solid #eee;
	}

	#informea #main .col3 {
		float: left;
		width: 230px;
	}

	#informea #main .col3-left {
		margin-right: 10px;
	}

	#informea #main .col3-center {
		width: 500px;
		margin-right: 10px;
	}

	/************************************************* Index page *****************************************************/
	body.imea-index #main {
		border: 0 !important;
	}

	.widget_latest_news li {
		list-style-type: none;
	}

	.margin-bottom-10 {
		margin-bottom: 10px;
	}

	/* Portlets */
	#informea div.portlet {
		-webkit-box-shadow: 0 2px 2px 0 rgb(194, 194, 194);
		box-shadow: 0 2px 2px 0 rgb(194, 194, 194);
		border-radius: 4px;
		border: 1px solid rgb(233, 233, 233);
		margin: 0 0 6px;
		padding: 8px;
		background-image: -webkit-linear-gradient(top, white, rgb(237, 237, 237));
	}

	#informea div.portlet div.title {
		text-align: left;
		background: transparent;
		color: rgb(68, 67, 67);
		font-size: 1.438em;
		padding: 0 3px 5px 3px;
		letter-spacing: 0;
		line-height: 22px;
	}

	#informea div.round {
		-webkit-box-shadow: 0 2px 2px 0 rgb(194, 194, 194);
		box-shadow: 0 2px 2px 0 rgb(194, 194, 194);
		border-radius: 4px;
		border: 1px solid rgb(233, 233, 233);
	}

	#informea div.whatisinformea div.title {
		text-align: center;
	}
	#informea div.whatisinformea {
		margin: 0 0 10px 0;
		background: rgb(216, 216, 216);
		padding: 5px;
	}

	#informea div.portlet .ribbon {
		float: left;
		margin-left: 80px;
		margin-top: 4px;
	}

	#informea div.portlet ul.featured-tools {
		margin-left: 15px;
		padding: 0;
		list-style-type: none;
	}

	#informea div.portlet ul.latest-news {
		padding: 0; list-style-type: none;
		margin: 0;
	}
	#informea div.portlet ul.latest-news li {
		margin: 10px 0;
		padding: 0 0 0 10px;
		border-top: 1px dashed #C0C0C0;
		background: url('images/news_arrow.png') no-repeat 0 5px;
	}
	#informea div.portlet ul.latest-news li:first-child { border-top: 0; }
	#informea div.portlet ul.latest-news img { float: left; margin-right: 5px; max-width: 50px; }
	#informea div.portlet ul.latest-news p { margin: 0; padding: 0; float: left; width: 150px; }
	#informea div.portlet div.title a.rss {
		margin: 0; padding: 0;
		display: block;
		float: right;
		width: 20px;
		height: 20px;
		background-image: url('images/rss.png');
	}
	#informea div.portlet div.featured-treaty img { float: left; margin-right: 5px; max-width: 50px; }
	#informea div.portlet div.weeks-meetings ul.items { list-style-type: none; margin: 0; padding: 0; text-align: center; }
	#informea div.portlet div.weeks-meetings ul.items li { margin: 0; padding: 0; }
	#informea div.portlet div.weeks-meetings ul.items p { margin: 0; }
	#informea div.portlet div.weeks-meetings div.paginator { text-align: right; }
	/***************************************** Header - blue stripe ***************************************************/
	#informea-staging {
		background: #FF5A49;
		width: 100%;
		height: 25px;
		color: white;
		font-size: 20px;
		padding-top: 5px;
		text-align: center;
	}

	#header { background: #2CA0D2; }

	#header #masthead {
		width: 992px; /*1000px; */
		margin: 0 auto;
		display: block;
	}

	#header #branding {
		display: block;
		overflow: hidden;
		padding: 30px 0 0 10px;
	}

	#header #logo {
		margin: 0;
		padding: 0;
	}

	#header #logo a {
		display: block;
		width: 452px;
		height: 37px;
		margin-bottom: 20px;
		text-indent: -9000px;
		background: url("images/logo-wide.png") no-repeat top left;
	}

	/* Main Menu */
	#header ul#menu-main {
		float: left;
		display: block;
		overflow: hidden;
		position: relative;
		top: 1px;
	}

	#header ul#menu-main {
		list-style: none;
		margin: 0;
		display: block;
		overflow: hidden;
	}

	#header ul#menu-main li,
	div.menu li {
		float: left;
		height: 38px;
	}

	#header ul#menu-main a {
		color: #FFFFFF;
		text-transform: uppercase;
		display: block;
		text-decoration: none;
		font-size: 12px;
		font-weight: bold;
		background: url(images/menu-spacer.png) no-repeat center left;
		padding: 10px 15px 10px 15px;
	}
	#header ul#menu-main li:first-child a { background: none; }

	#header ul#menu-main li a:hover,
	#header ul#menu-main li a.current {
		background: #d7f1f7;
		border-top-left-radius: 5px;
		border-top-right-radius: 5px;
		color: #444;
	}

	#header ul#menu-main li a.first,
	#header ul#menu-mai li:first-child a:first-child {
		background: none;
	}

	#header ul#menu-main a img {
		vertical-align: middle !important;
		position: relative;
		top: -5px;
	}

	#header ul#menu-main {
		padding-left: 10px;
	}

	#header ul#menu-main ul li {
		width: 185px;
	}

	#header ul#menu-main li.current-menu-item > a {
		background: #d7f1f7;
		border-top-left-radius: 5px;
		border-top-right-radius: 5px;
		color: #444;
	}


	/* MEA Explorer */
	#explorer {
		float: right;
		position: relative;
		right: 0;
		width: 177px;
		z-index: 999;
	}

	#explorer div.mea-button {
		position: relative;
		top: -15px;
		float: right;
		cursor: pointer;
		width: 177px;
		height: 44px;
		background: url(images/btn-explorer.png) no-repeat top left;
		margin: 0 auto -5px;
	}

	#explorer .mea-button:hover {
		background: url(images/btn-explorer.png) no-repeat 0 -44px;
	}

	/* MEA Explorer content */
	#explorer div.content {
		background-color: #FFEB7F;
		border-radius: 5px 0 5px 5px;
		color: #464646;
		margin: 0 auto;
		position: absolute;
		right: 0;
		top: 25px;
		width: 450px;
		z-index: 999;
	}

	#explorer ul { list-style-type: none; margin: 0; padding: 0 }
	#explorer ul li { margin: 0; padding: 0 }
	#explorer ul.border {
		padding: 10px 10px;
		position: relative;
	}
	#explorer ul.border li.section {
		background-color: #fff;
		padding: 10px 0 10px 10px;
		border-top: 1px dashed #C0C0C0;
		margin: 0;
	}

	#explorer ul.border li.section:first-child {
		border-top: none;
	}

	#explorer span.title {
		font-size: 11px;
		font-weight: bold;
		text-transform: uppercase;
	}
	#explorer div.content span.title a {
		height: 16px;
		width: 16px;
		display: block;
		float: left;
		margin: 1px 5px 0 5px;
	}

	#explorer div.content span.title a.minus {
		background: url(images/search-box/minus.png) no-repeat;
	}

	#explorer div.content span.title a.plus {
		background: url(images/search-box/plus.png) no-repeat;
	}

	/* MEA Explorer form */
	#explorer form { margin: 10px 0 0 20px; }

	#explorer input.text {
		height: 19px;
		width: 280px;
		background: transparent url('images/search-box/input-bg.png') repeat-x left center;
		margin-left: 0 !important;
		padding-left: 0 !important;
		border: 1px solid #BABBB8;
	}

	#explorer form div.explorer_all_treaties_items {
		margin-top: 5px;
	}

	#explorer form span.theme {
		color: #999;
	}

	#explorer form div.separator {
		height: 1px;
		background-color: #EBEBEB;
		margin: 0 10px 5px 10px;
		clear: both;
	}

	#explorer div.block {
		display: block;
		margin: 15px 0 10px 0;
	}

	#explorer form ul.main-list { float: left; margin: 0; padding: 0; }
	#explorer form ul.sublist { margin-left: 20px; margin-bottom: 10px; }

	#explorer .selected-terms-holder {
		padding: 3px 0;
	}

	.details-column-1 button,
	#explorer .autocomplete-holder button {
		position: relative;
		top: 1px;
	}


	/***************************************** Footer - black stripe **************************************************/
	#footer {
		padding-bottom: 10px;
		background: #16232e /* url("images/footer-bg.png") repeat-x scroll center top */;
		color: #999;
	}
	#footer ul { list-style-type: none; padding: 0; }
	#footer ul.rows { width: 1000px; margin: 0 auto; overflow: hidden }
	#footer ul.orglist li { display: inline-block; }

	#footer ul.rows li.row {
		margin: 0;
		padding: 0;
		border-top: 1px dashed #666;
	}
	#footer ul.rows li.row:first-child { border-top: none; }
	#footer ul.orglist li a span {
		display: block;
		margin: 50px 0 0 0;
		padding: 0;
		width: 50px;
		text-align: center;
		float: left;
	}
	#footer ul.orglist li.ident { margin-left: 60px; }

	#footer p {
		float: left;
		line-height: 80px;
		margin: 0 10px 0 0; padding: 0;
		color: #f0f0f0;
	}

	#footer a { color: #999; text-decoration: none; }
	#footer a:hover { text-decoration: underline; }
	#footer a.logo {
		margin: 10px;
		width: 50px;
		height: 50px;
		display: block;
		border: 0;
	}
	#footer a.un { background: url('images/logos/un.png') no-repeat; }
	#footer a.unep { background: url('images/logos/UNEP.png') no-repeat; }
	#footer a.fao { background: url('images/logos/FAO.png') no-repeat; }
	#footer a.unesco { background: url('images/logos/UNESCO.png') no-repeat; }
	#footer a.unfccc { background: url('images/logos/UNFCCC.png') no-repeat; }
	#footer a.unccd { background: url('images/logos/UNCCCD.png') no-repeat; }
	#footer a.ozone { background: url('images/logos/ozone.png') no-repeat; }
	#footer a.basel { background: url('images/logos/Basel.png') no-repeat; }
	#footer a.rotterdam { background: url('images/logos/Rotterdam.png') no-repeat; }
	#footer a.stockholm { background: url('images/logos/Stockholm.png') no-repeat; }
	#footer a.cbd { background: url('images/logos/CBD.png') no-repeat; }
	#footer a.cites { background: url('images/logos/cites.png') no-repeat; }
	#footer a.whc { background: url('images/logos/whc.png') no-repeat; }
	#footer a.ramsar { background: url('images/logos/RAMSAR.png') no-repeat; }
	#footer a.itpgrfa { background: url('images/logos/ITPGRFA.png') no-repeat; }
	#footer a.cms { background: url('images/logos/CMS.png') no-repeat; }



	/* Generic styles - sitewide available */
	body.informea hr {
		font-size: 0;
		line-height: 0;
		border: none;
		background: none;
		height: 1px;
		overflow: hidden;
		border-bottom: 1px solid #dfdfdf;
	}

	body.informea .left {
		float: left;
	}

	body.informea .right {
		float: right;
	}

	body.informea .align-right {
		text-align: right;
	}

	body.informea .clear {
		clear: both;
	}

	body.informea .hidden {
		display: none;
	}

	body.informea .visible {
		display: block;
	}

	body.informea .justify {
		text-align: justify;
	}

	body.informea .center {
		text-align: center;
	}

	body.informea .separator-10px {
		padding-bottom: 10px;
	}

	body.informea .top-10px {
		margin-top: 10px;
	}

	body.informea .padding-5px {
		padding: 5px;
	}

	body.informea a.opened {
		padding-left: 15px;
		background: transparent url('images/collapse.gif') no-repeat left center;
	}

	body.informea a.closed {
		padding-left: 15px;
		background: transparent url('images/expand.gif') no-repeat left center;
	}

	body.informea a.loading {
		padding-left: 15px;
		background: transparent url('images/loading-arrow.gif') no-repeat left center;
	}

	body.informea .skip-link {
		display: none;
	}

	body.informea .rss-icon {
		vertical-align: middle;
		margin: 0 5px 0 0;
	}

	div.warning {
		/*background: #FFF5C2 url(images/warning-big.png) no-repeat;*/
		background: #FFF5C2 url(images/bullet_error.png) no-repeat 5px 5px;
		margin: 5px;
		padding: 5px;
		border: 2px solid #FFE974;
		border-radius: 5px;
	}

	div.warning .content {
		margin-left: 20px; /*70px; */
	}

	.w500px {
		width: 450px; /*500px; */
	}

	.w300px {
		width: 450px; /*300px; */
	}

	/* Page content layout */
	body.informea #main .input-text {
		border-radius: 2px;
		border: 1px solid #ddd;
		height: 20px;
		margin-bottom: 5px;
	}

	body.informea #main .select-box {
		margin-bottom: 5px;
	}


	body.col-2 #content {
		background: url('images/column-borders-2.gif') repeat-y 10px 0;
		display: block;
		overflow: hidden;
	}

	body.col-3 #content {
		background: url('images/column-borders-3.gif') repeat-y 13px 0;
		display: block;
		overflow: hidden;
	}

	body.col-2 #main .details-column-1 {
		display: block;
		margin-right: 15px;
		margin-left: 5px;
	}

	body.col-2 #main .details-column-3 {
		display: none;
	}

	body.col-2 #main .details-column-2 {
		width: 720px;
		margin: 0;
		padding: 0;
	}

	body.col-3 #main .details-column-1 {
		width: 230px;
		display: block;
	}

	body.col-3 #main .details-column-2 {
		width: 488px;
	}

	body.home.col-3 #content {
		background: url('images/column-borders-3home.gif') repeat-y 20px 0;
	}

	body.informea div#container {
		min-height: 600px;
	}

	body.informea #dialog_survey {
		margin: 0;
		padding: 0;
		display: none;
	}

	body.informea .titlessDialog .ui-dialog-titlebar {
		display: none;
	}

	body.informea .titlessDialog .ui-widget-content {
		border: 0 !important;
	}

	table.default {
		border-collapse: collapse;
		border: 1px solid;
	}

	table.default td,
	table.default th {
		border: 1px solid;
	}

	table.grey td,
	table.grey th {
		border-color: #D7D7D7;
	}

	table.space-5 td,
	table.space-5 th {
		padding: 5px;
	}

	/* List drop-down */
	ul.list-dropdown {
		margin-left: 0;
		padding: 0;
		list-style-type: none;
		font-size: 12px;
		margin-bottom: 20px;
		width: 100%;
	}

	ul.list-dropdown div.list-item-content {
		margin-left: 20px;
		padding-top: 10px;
		clear: both;
	}

	ul.list-dropdown li {
		margin-top: 15px;
	}

	ul.list-dropdown .list-item-title {
		font-size: 14px;
		font-weight: bold;
		padding: 0 0 0 10px;
		display: block;
		overflow: hidden;
	}

	ul.list-dropdown .mea-logo {
		padding: 0 10px 0 5px;
	}

	ul.list-dropdown .mea-name {
		line-height: 48px;
	}

	.list-item-title-click {
		margin-left: 10px;
	}

	body.imea-countries ul.list-dropdown {
		margin: 0;
		padding: 0;
	}

	body.imea-terms ul.list-dropdown {
		border-bottom: 1px solid #dfdfdf;
	}

	body.imea-treaties .treaty_contacts a.list-item-title-click {
		line-height: 32px;
	}

	body.imea-treaties .treaty_contacts a.list-item-title-click div {
		margin-left: 5px;
	}

	body.imea-decisions ul.list-dropdown li {
		line-height: 18px;
		margin-top: 5px;
	}

	body.imea-decisions ul.list-dropdown .list-item-title {
		padding: 0;
	}

	/* jQuery overrides */
	.ui-state-default,
	.ui-widget-content .ui-state-default {
		background-color: #DFEFFC !important;
		border: 1px solid #C8AD31 !important;
	}

	.ui-widget-content {
		border: 1px solid #C8AD31 !important;
	}

	.ui-state-hover {
		border: 1px solid #C8AD31 !important;
		color: black !important;
		font-weight: bold !important;
	}

	.ui-button {
		margin-left: -1px;
	}

	.ui-button-icon-only .ui-button-text {
		padding: 0.35em;
	}

	.ui-autocomplete {
		height: 200px;
		overflow: auto;
	}

	.ui-autocomplete-input {
		border: 1px solid #BABBB8 !important;
		margin: 0;
		padding: 0 !important;
		height: 21px;
	}

	.ui-corner-left {
		border-top-left-radius: 0 !important;
		border-bottom-left-radius: 0 !important;
	}

	.ui-button-text {
		padding: 2px 0 1px 0 !important;
	}

	/* Tag cloud - http://cssglobe.com/post/4581/tag-clouds-styling-and-adding-sort-options */
	body.informea .tags ul {
		margin: 0;
		padding: 10px 2px 2px 2px;
		/*height: 185px; */
		text-align: center;
		background-color: #EDF3FE;
	}

	body.informea .tags li {
		margin: 0;
		padding: 0;
		list-style: none;
		display: inline;
	}

	body.informea .tags li a {
		text-decoration: none;
		color: #2CA0D2;
		padding: 0 2px;
	}

	body.informea .tags li a:hover {
		text-decoration: underline;
	}

	body.informea .tag1 {
		font-size: 80%;
	}

	body.informea .tag2 {
		font-size: 90%;
	}

	body.informea .tag3 {
		font-size: 100%;
	}

	body.informea .tag4 {
		font-size: 110%;
	}

	body.informea .tag5 {
		font-size: 120%;
	}

	body.informea .tag6 {
		font-size: 130%;
	}

	body.informea .tag7 {
		font-size: 140%;
	}

	body.informea .tag8 {
		font-size: 150%;
	}

	body.informea .tag9 {
		font-size: 160%;
	}

	body.informea .tag10 {
		font-size: 180%;
	}

	body.informea .tag11 {
		font-size: 200%;
	}

	/* Index page */
	.calendar-frontpage {
		margin-top: 20px !important;
	}

	/* About page */
	#informea #banners ul {
		list-style-type: none !important;
	}

	/* Treaty pages */
	table.decisions td {
		padding: 3px;
	}

	table.decisions .type {
		text-transform: capitalize;
	}

	table.decisions {
		width: 450px;
	}

	table.decisions th.tags {
		width: 100px;
	}

	ul.collapsible {
		margin: 0 0 20px 0;
		list-style-type: none;
		width: 100%;
		padding: 0;
	}

	ul.collapsible .content {
		width: 100%;
	}

	ul.collapsible .title {
		font-size: 14px;
		font-weight: bold;
	}

	ul.collapsible li {
		/* clear: both;  */
		width: 100%;
		border-top: 1px solid #DFDFDF;
		display: block;
		overflow: hidden;
		padding: 5px 0 5px 5px;
	}

	table.decision-listing .no {
		width: 150px;
	}

	table.decision-listing .title {
		width: 250px;
	}

	table.decision-listing .type {
		width: 100px;
	}

	/* Highlights pages */
	#highlights-filter-form h4 {
		background: url('images/refine-search-icon.png') 0 0 no-repeat;
		padding-left: 20px;
		margin-top: 10px;
	}

	#highlights-filter-form a {
		margin: 10px 0 0 0;
	}

	#highlights-filter-form label {
		float: left;
		margin-right: 32px;
	}

	.highlights-browse-terms-cloud {
		margin: 15px 0;
	}

	.highlights-browse-terms-cloud .tags ul {
		height: auto !important;
	}

	ul.highlight-stories {
		list-style-type: none;
	}

	.highlight-stories li.story {
		margin-bottom: 10px;
		padding-bottom: 10px;
		border-bottom: 1px dashed #dfdfdf;
	}

	.highlight-stories h4 {
		margin-bottom: 5px;
	}

	/* Search page */
	#main #filter ul.main-list {
		list-style-type: none;
		margin-left: 0;
		padding-left: 0;
	}

	#main #filter ul.sublist {
		list-style-type: none;
		margin-left: 0;
		padding-left: 5px;
	}

	body.imea-search ul {
		list-style-type: none;
	}

	/* Terms page */
	body.imea-terms table td {
		vertical-align: top;
	}

	body.imea-terms .data ul {
		list-style-type: none;
		margin: 0;
		padding: 0 0 0 10px;
	}

	.terms_list ul {
		list-style-type: none;
	}

	.terms_list span {
		font-size: 200%;
	}

	/* End of clean code */







	#filter {
		background-color: #FFF5C2;
		padding: 5px;
	}

	#filter ul.sublist {
		margin-left: 18px;
	}

	#filter h5.refine-title {
		padding: 10px 0 0 20px;
	}

	#filter .expanded {
		background: url(images/search-box/minus.png) no-repeat left 10px;
	}

	#filter .collapsed {
		background: url(images/search-box/plus.png) no-repeat left 10px;
	}

	#filter #filter_q_freetext {
		border: 1px solid #FFE974;
		height: 20px;
		line-height: 20px;
	}

	#filter .refine-content {
		margin-left: 10px;
	}

	#filter .search-button {
		text-align: right;
		margin: 15px 10px 0 0;
	}

	div.term-content {
		float: left;
		background-color: #d0b432;
		padding: 3px;
		margin: 3px;
		color: white;
		font-weight: bold;
		border-radius: 3px;
	}

	.term-content .closebutton {
		background: url(images/delete.png) 0 0 no-repeat;
		width: 16px;
		height: 16px;
		vertical-align: middle;
	}

	.term-content .toggle-icon {
		vertical-align: middle;
	}

	#all-form {
		padding: 15px;
	}

	/* main */

	body.home,
	body.col-1 #content {
		background: none;
	}

	/* inner pages columns */
	#main .details-column-1,
	#main .details-column-2,
	#main .details-column-3 {
		float: left;
		width: 230px;
		padding-bottom: 20px;
		height: 100%;
		background: #fff;
	}

	#main .details-column-1,
	#main .details-column-2 {
		margin-right: 10px;
		/*border-right: 1px solid #dfdfdf;*/
	}

	#main .details-column-2 {
		width: 488px;
		margin-right: 10px;
		padding-right: 10px;
	}

	body.col-1 #content {
		background: #fff;
		overflow: auto;
	}

	h1, h2, h3, h4, h5, h6 {
		font-weight: bold;
	}

	h1 {
		font-size: 22px;
		color: #000;
		margin-bottom: 10px;
		line-height: 24px;
	}

	h2 {
		font-size: 18px;
		color: #2CA0d2;
		margin-bottom: 10px;
	}

	h3 {
		font-size: 16px;
		color: #2CA0d2;
		margin-bottom: 10px;
	}

	h4 {
		font-size: 13px;
		color: #444;
		margin-bottom: 10px;
	}

	h5 {
		font-size: 12px;
		color: #000;
		margin-bottom: 10px;
	}

	h6 {
		font-size: 11px;
		color: #000;
		margin-bottom: 10px;
	}

	#page-title {
		margin: 0;
		padding: 10px 0;
		width: 500px;
	}

	#page-title img {
		float: left;
		margin: 0 5px 0 5px;
	}

	#page-title div {
		width: 100%;
	}

	#page-title h1 {
		padding: 0;
		margin: 0;
	}

	#page-title h2 {
		color: #999;
		font-size: 13px;
		font-style: italic;
		font-weight: normal;
	}

	#page-title.country-profile img {
		width: 60px;
	}

	body.home .row .row-item-description {
		line-height: 12px;
		text-align: center !important;
		display: none;
	}

	body.home .row .row-item:hover .row-item-description {
		display: block;
		opacity: 0.90;
		position: absolute;
		top: 55px;
		background: #2CA0D2;
		height: 45px;
		width: 100px;
	}

	body.home .row .row-item-description a {
		display: block;
		width: 82px;
		height: 35px;
		padding: 5px;
		color: #fff;
	}

	body.home .row .row-item-description a:hover {
		text-decoration: none !important;
	}

	span.more-link {
		position: relative;
		right: 10px;
		top: 8px;
	}

	.more-link a {
		font-weight: bold;
	}

	a.more-link {
		font-weight: bold;
	}

	.toolbar {
		margin-top: 5px;
	}

	.toolbar .link-button {
		margin: 0 3px;
	}

	/* START - Styles for the index page image slider */
	.lof-slidecontent {
		color: #FFF;
		position: relative;
		overflow: hidden;
		margin-bottom: 20px;
	}

	.lof-slidecontent .preload {
		height: 100%;
		width: 100%;
		position: absolute;
		top: 0;
		left: 0;
		z-index: 100000;
		text-align: center;
		background: #FFF;
	}

	.lof-slidecontent .preload div {
		height: 100%;
		width: 100%;
		background: transparent url(images/slideimages/load-indicator.gif) no-repeat scroll 50% 50%;
	}

	.lof-main-outer {
		position: relative;
		height: 100%;
		width: 900px;
		z-index: 3;
		overflow: hidden;
	}

	.lof-main-item-desc {
		font-size: 110%;
		z-index: 100;
		position: absolute;
		top: 50px;
		left: 0;
		width: 330px;
		background: url(images/slideimages/bg_trans.png);
		height: 100px;
		/* filter:0.7(opacity:60) */
		padding: 10px;
	}

	.lof-main-item-desc h3 {
		display: inline;
		font-size: 75% !important;
		background: #C01F25 !important;
		border: none !important;
		padding: 2px 3px !important;
		margin: 0;
		color: #FFFFFF !important;
		text-transform: uppercase !important;
	}

	.lof-main-item-desc .italic {
		font-style: italic;
	}

	.lof-main-item-desc a {
		color: lightblue;
		text-decoration: none;
	}

	.lof-main-item-desc a:hover {
		text-decoration: underline;
	}

	.lof-main-item-desc h3 i {
		font-size: 10px;
	}

	/* main flash */
	ul.lof-main-wapper {
		/* margin-right:auto; */
		overflow: hidden;
		background: transparent url(images/slideimages/load-indicator.gif) no-repeat scroll 50% 50%;
		padding: 0;
		margin: 0;
		position: absolute;
		overflow: hidden;
	}

	ul.lof-main-wapper li {
		overflow: hidden;
		padding: 0;
		margin: 0;
		float: left;
		position: relative;
	}

	ul.lof-main-wapper li img {
		padding: 0;
		height: 200px !important;
		/* max-width: 1024px !important; cristiroma - not working on current CBD pictures */
	}

	.lof-opacity {
		overflow: visible !important;
		position: absolute !important;
	}

	.lof-opacity li {
		position: absolute !important;
		top: 0;
		left: 0;
	}

	/* item navigator */
	.lof-navigator-wapper {
		position: absolute;
		bottom: 10px;
		right: 10px;
		background: url("images/slideimages/bg_trans.png") repeat scroll 0 0 transparent;
		padding: 5px 15px;
	}

	.lof-navigator-outer {
		position: relative;
		z-index: 100;
		height: 180px;
		width: 310px;
		overflow: hidden;
		color: #FFF;
		float: left;
	}

	ul.lof-navigator {
		top: 0;
		padding: 0;
		margin: 0;
		position: absolute;
		width: 100%;
	}

	ul.lof-navigator li {
		cursor: pointer;
		list-style: none;
		padding: 0;
		margin-left: 0;
		overflow: hidden;
		float: left;
		display: block;
		text-align: center;
	}

	ul.lof-navigator li.active,
	ul.lof-navigator li:hover {
		background: #FFF;
		color: #000;
		display: block;
	}

	/* END - Styles for the index page image slider */


	/* buttons and action links */
	a.button {
		display: inline-block;
		height: 23px;
		padding: 0 0 0 3px;
		font-size: 11px;
		font-weight: bold;
		color: #333;
		text-shadow: 1px 1px 0 #fff;
		background: url('images/button-sprite.png') 0 0 no-repeat;
		white-space: nowrap;
		border: none;
		overflow: visible;
		cursor: pointer;
		text-decoration: none;
	}

	a.button span {
		display: block;
		height: 23px;
		padding: 0 5px 0 5px;
		line-height: 23px;
		background: url('images/button-sprite.png') 100% 0 no-repeat;
	}

	a.button:hover,
	a.button:focus {
		color: #fff;
		text-decoration: none;
		text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.3);
		background-position: 0 -30px;
	}

	a.button:hover span,
	a.button:focus span {
		background-position: 100% -30px;
	}

	a.button.mousedown {
		background-position: 0 -60px;
	}

	a.button.mousedown span {
		background-position: 100% -60px;
	}

	/* with icon */
	a.button .icon {
		float: left;
		margin-left: -4px;
		width: 18px;
		height: 22px;
		background: url('images/sprite-icons.png') 0 0 no-repeat;
	}

	a.button:hover .icon,
	a.button:focus .icon {
		background-position: 0 -25px;
	}

	a.button.down-button .icon {
		background-position: -180px 0;
	}

	a.button.down-button:hover .icon {
		background-position: -180px -25px;
	}

	a.button.up-button .icon {
		background-position: -155px 0;
		width: 14px;
	}

	a.button.up-button:hover .icon {
		background-position: -155px -25px;
		width: 14px;
	}

	a.blue {
		background: url('images/button-sprite-blue.png') 0 -30px no-repeat;
		color: white;
		text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.1);
	}

	a.blue span {
		background: url('images/button-sprite-blue.png') 100% -30px no-repeat;
	}

	a.orange {
		background: url('images/button-sprite-orange.png') 0 -30px no-repeat;
		color: white;
		text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.1);
	}

	a.orange span {
		background: url('images/button-sprite-orange.png') 100% -30px no-repeat;
	}

	a.compress-button,
	a.expand-button,
	a.articles-expand-button,
	a.articles-compress-button {
		padding-left: 14px;
	}

	a.compress-button,
	a.articles-compress-button {
		background: transparent url('images/collapse.gif') no-repeat left center;
	}

	a.expand-button,
	a.articles-expand-button {
		background: transparent url('images/expand.gif') no-repeat left center;
	}

	a.compress-button.disabled,
	a.expand-button.disabled,
	a.articles-compress-button.disabled,
	a.articles-expand-button.disabled {
		text-decoration: none !important;
		color: #333333 !important;
	}

	a.compress-button.disabled:hover,
	a.expand-button.disabled:hover,
	a.articles-compress-button.disabled:hover,
	a.articles-expand-button.disabled:hover {
		text-decoration: none !important;
		color: #333333 !important;
	}

	.details-column-1 a.link {
		display: block;
		margin-bottom: 10px;
	}


	/* Breadcrumb */
	#breadcrumb {
		border-bottom: 1px dotted #BFBFBF;
		padding: 0 0 5px 5px;
		font-size: 11px;
	}

	#breadcrumb a {
		text-decoration: none;
	}

	#breadcrumb a:hover {
		text-decoration: underline;
	}

	#breadcrumb .current {
		font-weight: bold;
	}

	/* Tabbed menu */
	.tab-menu {
		border-bottom: 1px solid #D7D7D7;
		height: 22px;
		margin-bottom: 10px;
		padding-top: 2px;
	}

	.tab-menu ul {
		list-style: none outside none;
		margin: 0 0 10px 0;
		padding: 0;
	}

	.tab-menu li {
		display: inline;
		line-height: 23px;
	}

	.tab-menu li a {
		color: #FFFFFF;
		padding: 5px 5px 4px;
		text-decoration: none;
		background-color: #3C9BD5;
		border-radius: 5px 5px 0 0;
	}

	.tab-menu li a.disabled {
		color: #888;
		background-color: #F2F2F2 !important;
	}

	.tab-menu li a.tab-active,
	.tab-menu li a:hover {
		background-color: #FFFFFF;
		border-left: 1px solid #D7D7D7;
		border-right: 1px solid #D7D7D7;
		border-top: 1px solid #D7D7D7;
		color: #000000;
		position: relative;
		padding-bottom: 5px;
	}

	.tab-content {
		border-top: none;
		font-size: 12px;
		margin-bottom: 5px;
		padding: 0 0 10px 0;
	}

	table.datatable thead {
		background-attachment: scroll;
		background-color: #F2F2F2 !important;
		background-position: 0 0;
		background-repeat: repeat;
		color: #666666 !important;
		font-weight: bold;
		height: 1em;
		line-height: 2em;
		padding: 0.5em !important;
		text-shadow: 0 1px 0 #FFFFFF;
		white-space: nowrap;
	}

	/* Options bar - List/Grid view */

	.view-mode {
		float: right;
	}

	.view-mode form {
		display: inline;
	}

	.view-mode select {
		margin-right: 5px;
	}

	.sort-mode {
		float: right;
		margin-bottom: 15px;
	}

	.sort-mode form {
		display: inline;
	}

	.sort-mode select {
		margin-right: 5px;
	}

	.options-bar {
		clear: both;
		font-size: 12px;
		padding: 5px 0;
		border-top: 1px solid #DFDFDF;
		border-bottom: 1px solid #DFDFDF;
	}

	.options-bar form {
		display: inline;
	}

	.options-bar form input.text-input {
		font-size: 12px !important;
		padding: 0 !important;
		height: 21px;
	}

	.options-bar a {
		margin-right: 5px;
	}

	.options-bar .button a {
		text-decoration: none;
		margin-right: 5px;
	}

	/* user options - print / email / save / share*/
	.user-options a {
		text-decoration: none;
		font-size: 13px;
		margin-right: 20px;
		position: relative;
	}

	.user-options a img {
		position: relative;
		top: -1px;
	}

	img.middle {
		vertical-align: middle;
	}

	.list-item-details {
		background: #fff;
	}

	.letter-box {
		padding: 10px 0 10px 10px;
		width: 200px;
		margin-right: 30px;
		float: left;
	}

	.spotlight {
		padding-top: 0 !important;
	}

	#index-search {
		background-color: #FFF5C2;
		border-radius: 5px;
		width: 460px;
		border: 10px solid #FFE974;
		margin-bottom: 8px;
	}

	#index-search .title {
		width: 100%;
		height: 25px;
		background-color: #FFE974;
		font-size: 20px;
		font-weight: bold;
		margin: 0;
		padding: 0 0 5px 0;
	}

	#index-search .subtitle {
		margin-top: 10px;
		font-size: 14px;
		color: black;
		margin-bottom: 5px;
	}

	#index-search .freetext {
		font-size: 14px;
		height: 20px;
	}

	#index-search-content {
		margin: 10px 0 0 10px;
	}

	#index-search-content .section {
		margin-top: 10px;
	}

	#index-search-content .slabel {
		font-weight: bold;
		float: left;
		width: 75px;
	}

	#index-search .search-button {
		width: 450px;
		text-align: right;
		margin-bottom: 8px;
		margin-top: 10px;
	}

	#index-search-content .tag-autocomplete {
		font-size: 14px;
		height: 20px;
		border: 1px solid #999;
	}

	#index-search-content #q_term_index {
		width: 200px;
	}

	#index-search-terms {
		padding: 5px 5px;
	}

	#index-search input {
		border: 1px solid #FFE974;
	}

	#index-search .ui-autocomplete-input {
		border: 1px solid #FFE974 !important;
	}

	#index-search .advanced-search {
		margin-left: 15px;
	}

	#index-search .search-text {
		margin-top: 3px;
	}

	#index-search ul.main-list {
		float: left;
	}

	#index-search ul.sublist {
		margin-left: 15px;
	}

	#index-search ul {
		list-style-type: none;
	}

	#index-search .conventions {
		margin-left: 75px;
	}

	#highlight-topics {
		display: block;
		overflow: hidden;
	}

	#highlight-topics .row {
		display: block;
		overflow: hidden;
		margin-bottom: 10px !important;
		width: 510px;
	}

	#highlight-topics .second .row-item {
		margin-bottom: 0 !important;
	}

	#highlight-topics .row-item {
		float: left;
		width: 100px;
		position: relative;
		margin: 0 26px 10px 0;
	}

	#highlight-topics .row-item a img {
		width: 100px;
	}

	#highlight-topics .row-item a {
		display: block;
		margin: 0;
		padding: 0;
		overflow: hidden;
	}

	#highlight-topics .row .row-item-description {
		line-height: 12px;
		text-align: center !important;
		display: none;
	}

	#highlight-topics .row .row-item:hover .row-item-description {
		display: block;
		opacity: 0.90;
		position: absolute;
		top: 55px;
		background: #2CA0D2;
		height: 45px;
		width: 100px;
	}

	#highlight-topics .row .row-item-description a {
		display: block;
		width: 82px;
		height: 35px;
		padding: 5px;
		color: #fff;
	}

	#highlight-topics .row .row-item-description a:hover {
		text-decoration: none !important;
	}

	#highlight-topics .highlight {
		color: #666;
	}

	/* about page specific elements */
	#main .details-column-1 .widget-area {
		padding-right: 10px;
		margin-bottom: 15px;
	}

	#main .details-column-1 .widget-area ul {
		list-style: square outside;
		margin-left: 15px;
	}

	#main .details-column-1 .widget-area ul li {
		list-style: square outside;
	}

	.entry-content p {
		margin-bottom: 5px;
	}

	/* treaties page specific elements */
	#main .details-column-1 .page-content-title {
		padding-right: 10px;
	}

	#treaty-map #map {
		border: 1px solid #000;
		width: 480px;
		height: 290px;
		background: #9ad3e6;
		position: relative;
	}

	.treaty-theme {
		font-size: 14px;
		color: #2CA0D2;
		padding: 10px;
		background-color: #EDF3FE;
	}

	.treaty-table {
		width: 100%;
	}

	.treaty-table tbody td.middlecenter {
		vertical-align: middle !important;
		text-align: center;
	}

	.treaty-table tbody td.middle {
		vertical-align: middle !important;
	}

	.treaty-table tbody td.logo {
		padding: 0 5px;
	}

	.treaty-entry {
		float: left;
		text-align: center;
	}

	.treaty-icon {
		width: 90px;
		margin: 0;
		height: 145px;
	}

	.treaty-icon  span {
		color: #666;
	}

	tr.treaty-theme  td {
		padding: 10px;
		border-top: 1px solid #fff;
		border-bottom: 1px solid #fff;
	}

	.column-select {
		width: 220px;
		margin-bottom: 10px;
	}

	.expand-collapse-buttons {
		display: block;
		padding: 10px 0;
	}

	.expand-collapse-buttons  a {
		margin: 5px 0;
		display: inline-block;
	}

	.imea-terms .toolbar {
		margin-bottom: 15px !important;
	}

	#select-country-party {
		height: 100px;
		background-color: #f0f0f0;
	}

	.treaty-membership {
		width: 100%;
	}

	.treaty-membership th {
		background-color: white;
		text-align: left;
		padding: 0;
		color: black;
		font-size: 130%;
	}

	p .label {
		font-weight: bold;
	}

	body.imea-treaties #main .details-column-1 p {
		margin-bottom: 10px;
	}

	body.imea-treaties #main .details-column-1 hr {
		margin-bottom: 10px;
	}

	body.imea-treaties #main .details-column-1 h2 {
		float: none;
		/* color: #666; */
	}

	.column-logo {
		margin-right: 10px;
		padding: 10px;
		border: 1px solid #DFDFDF;
		text-align: center;
	}

	.column-title {
		max-width: 170px;
		float: none;
	}

	ul.treaty-articles {
		list-style-type: none;
	}

	ul.treaty-articles li h3 {
		width: auto;
		color: #333333;
		padding: 3px;
		font-size: 14px;
		border: none;
		text-transform: none;
		line-height: 30px;
	}

	ul.treaty-articles li h3:hover {
		background-color: #3C9BD5;
		color: #FFFFFF;
	}

	ul.treaty-articles li {
		margin-bottom: 5px;
	}

	.paragraph-content {
		margin-top: 15px;
		margin-bottom: 20px;
		text-align: justify;
	}

	.article-paragraph-indent-1,
	.article-paragraph-indent-2,
	.article-paragraph-indent-3,
	.article-paragraph-indent-4 {
		margin-bottom: 0;
	}

	.article-paragraph-indent-1 {
		margin-left: 0;
	}

	.article-paragraph-indent-2 {
		margin-left: 30px;
	}

	.article-paragraph-indent-3 {
		margin-left: 60px;
	}

	.article-paragraph-indent-4 {
		margin-left: 90px;
	}

	.quick-mea-input {
		float: left;
		padding: 0;
		margin: 0;
		height: 21px;
		background-color: #FFFFFF;
		border: 1px solid #BABBB8;
	}

	#id_form_meas_autocomplete .ui-autocomplete-input {
		padding: 0 !important;
	}

	.print-button {
		margin-right: 20px !important;
	}

	.nfp-details {
		margin: 30px 0 0 25px;
	}

	.contact-name {
		font-size: 1.5em;
		font-weight: bold;
		margin: 1em 0 0.3em 0;
	}

	.details-column-1 {
		border-right: none !important;
	}

	/* decision index page */
	table.decision-metadata {
		width: 100%;
		border: 1px solid #D0D0D0;
		margin: 0;
		padding: 0;
		border-collapse: collapse;
	}

	table.decision-metadata th {
		width: 30%;
	}

	table.decision-metadata td, th {
		border: 1px solid #D0D0D0;
		margin: 0;
		padding: 5px;
		text-align: left;
	}

	div.decision ul.paragraphs {
		margin: 20px 0 0 0;
		padding: 0;
		list-style-type: none;
	}

	div.decision ul.paragraphs li {
		padding-top: 10px;
		padding-bottom: 10px;
		border-bottom: #D0D0D0 dashed 1px;
		text-align: justify;
	}

	div.decision table.context td, th {
		border: 0;
		margin: 0;
		padding: 5px;
		text-align: left;
	}

	/* countries */
	.country-letter {
		font-size: 18px;
		font-weight: bold;
		padding: 15px 0 15px 0;
		color: #333;
	}

	a.country-letter:hover {
		text-decoration: none;
	}

	.country-box {
		padding: 10px 0 0 15px;
		width: 150px;
		margin-right: 10px;
		margin-bottom: 10px;
		float: left;
	}

	table.datatable-country thead {
		background-attachment: scroll;
		background-color: #F2F2F2 !important;
		background-position: 0 0;
		background-repeat: repeat;
		color: #666666 !important;
		font-weight: bold;
		padding: 0.5em !important;
		text-shadow: 0 1px 0 #FFFFFF;
		white-space: nowrap;
	}

	table.datatable-country thead th {
		text-align: center;
		padding: 2px !important;
		font-size: 11px;
		vertical-align: middle;
		font-weight: bold;
	}

	table.datatable-country tbody td {
		border-right: 1px solid #E0E0E0;
		padding: 5px 2px !important;
		border-bottom: 1px solid #dfdfdf;
	}

	table.datatable-country tbody td.number {
		text-align: center;
	}

	table.datatable-country .vzebra {
		background-color: #F1F1F1;
	}

	table.datatable tbody tr:hover {
		cursor: pointer;
		background: #DDF0FF !important;
	}

	/* table.datatable tbody td {
		border: 1px solid #D6D6D6;
	}

	table.datatable tbody tr:hover {
		cursor: pointer;
		background-color: #f2f7fc !important;
	} */

	.country-flag img {
		border: 1px solid #dfdfdf;
	}

	#mea_id {
		width: 210px;
		background-color: white;
		height: 235px;
		border: 1px solid #BABBB8;
	}

	#id_country {
		width: 210px;
	}

	.country-alphabet-separator {
		border-bottom: 1px dashed #ddd;
		margin-bottom: 15px;
	}

	.imea-countries .box-title {
		margin-bottom: 15px;
	}

	.imea-countries .mea-membership {
		width: 100%;
	}

	.imea-countries .mea-membership th,
	.imea-countries .mea-membership td {
		padding: 5px;
	}

	.imea-countries .mea-membership th {
		color: black;
	}

	.imea-countries .mea-membership td {
		height: 55px;
		vertical-align: middle !important;
	}

	.imea-countries .sites {
		margin-top: 15px;
		width: 100%;
	}

	.imea-countries .sites th,
	.imea-countries .sites td {
		text-align: left;
		padding: 5px;
		width: 50%;
	}

	.imea-countries .sites th {
		color: black;
	}

	.imea-countries .sites td {
		vertical-align: middle !important;
	}

	.imea-countries .sites th {
		font-size: 130%;
	}

	.imea-countries .sites th img {
		float: left;
		margin-right: 10px;
	}

	.quick-country-input {
		float: left;
		padding: 0;
		margin: 0;
		height: 21px;
		background-color: #FFFFFF;
		border: 1px solid #BABBB8;
	}

	#id_form_countries_autocomplete .ui-autocomplete-input {
		padding: 0 !important;
	}

	#country_un_env_data table td {
		padding: 3px;
		border: 1px solid #ddd;
	}

	.clear-left {
		clear: left;
	}

	.theme-container {
		padding-top: 10px;
	}

	#tooltip,
	#tooltip:hover,
	#tooltip:visited {
		position: absolute;
		z-index: 9999;
		display: none;
		border: 1px solid #999999;
		background: #EEEEEE;
		cursor: default;
		padding: 2px;
		text-decoration: none;
		color: #000000;
	}

	#map {
		border: 1px solid #000;
		width: 720px;
		height: 490px;
		background: #9ad3e6;
		position: relative;
	}

	#map-autocomplete {
		float: left;
		width: 400px;
	}

	#map-autocomplete .filter-content .title {
		font-weight: bold;
		float: left;
		width: 140px;
	}

	#map-autocomplete #id_form_countries_autocomplete {
		float: left;
	}

	#nfp-autocomplete {
		width: 400px;
	}

	#nfp-autocomplete .title {
		float: left;
		width: 140px;
	}

	#nfp-autocomplete #id_form_search_nfp {
		float: left;
	}

	#nfp-autocomplete #id_search_nfp {
		float: left;
	}

	.left-box {
		margin-top: 25px;
	}

	.left-box h3 {
		margin-bottom: 15px;
	}

	.country-l1-membership a img {
		border: 1px solid #ddd;
		float: left !important;
		padding: 3px;
		margin-right: 5px;
	}

	.membership-warn {
		float: left;
		text-align: left;
		margin-right: 10px;
	}

	/* decisions */
	#term-container {
		margin-top: 20px;
	}

	.filter-content {
		margin-top: 10px;
		margin-left: 10px;
		border-radius: 5px;
	}

	.filter-content .title {
		font-size: 120%;
		font-weight: bold;
	}

	.filter-content .title img {
		margin-right: 5px;
		margin-bottom: 4px;
	}

	.filter .sublist {
		margin-left: 10px;
	}

	.filter-content .button {
		margin-top: 10px;
	}

	.filter-treaties a:hover {
		text-decoration: none !important;
	}

	.filter-treaties-decisions {
		margin-top: 10px;
	}

	.filter-treaties-decisions .title {
		cursor: pointer;
	}

	.filter-treaties-decisions .content {
		margin: 5px 0 5px 10px;
	}

	.filter-terms-decisions .content {
		margin: 5px 0 0 0;
	}

	.decisions-meeting-summary {
		font-size: 12px;
		font-weight: normal;
	}

	/* in page search box */
	#main .filter-content {
		margin: 0;
		background: #FFF6E0;
		padding: 10px 10px 10px 10px;
	}

	#main .filter-content  select {
		margin-bottom: 10px;
	}

	/* terms */
	.terms-tabular {
	}

	.terms-tabular th {
		text-align: left;
	}

	.terms-tabular  td {
		border-top: 1px solid #dfdfdf;
		padding: 10px;
	}

	body.imea-terms #main .details-column-1 h1,
	body.imea-terms #main .details-column-1 p {
		padding-right: 10px;
	}

	body.imea-terms .list-item-details table {
		margin-left: 25px;
	}

	body.imea-terms .list-item-details table td {
		padding: 0 10px 5px 0;
	}

	body.imea-terms .list-item-details table td.label {
		font-weight: bold;
	}

	body.imea-terms .list-item-content-details {
		padding-bottom: 10px;
	}

	.download-vocabulary {
		margin-top: 15px;
	}

	ul.vocabulary-download {
		list-style-type: none !important;
	}

	ul.vocabulary-download li {
		margin-left: 10px;
	}

	body.imea-terms .left.list-item-title {
		margin-top: 15px;
		position: relative;
	}

	/* terms - trees in hierarchical view */
	.standartTreeImage {
		line-height: 0.5;
		font-size: 23px;
	}

	.terms_tree {
		float: left;
		width: 100%;
		height: 500px;
		position: relative;
		margin-top: 20px;
	}

	.terms_tree .loading {
		width: 100%;
		vertical-align: middle;
		margin-top: 40px;
		text-align: center;
		color: #000;
	}

	.terms_tree .loading img {
		vertical-align: middle;
	}

	.substantive {
		color: #38B02F;
	}

	.substantive-bk {
		background-color: #38B02F !important;
	}

	.substantive-bk:hover {
		color: white !important;
	}

	.tree_filter {
		border: 1px solid #dfdfdf;
	}

	#termsTree_substantives table table td:first-child {
		width: 30px;
	}

	#termsTree_generic table table td:first-child {
		width: 30px;
	}

	.containerTableStyle table {
		padding-bottom: 3px;
	}

	.quick-term-input {
		float: left;
		padding: 0;
		margin: 0;
		height: 21px;
		background-color: #FFFFFF;
		border: 1px solid #BABBB8;
	}

	#id_form_terms_autocomplete .ui-autocomplete-input {
		padding: 0 !important;
	}

	/* events */
	.separator-15px {
		margin-bottom: 10px;
	}

	#events-filter-form h4 {
		background: url('images/refine-search-icon.png') 0 0 no-repeat;
		padding-left: 20px;
		margin-top: 10px;
	}

	#events-filter-form a {
		margin: 10px 0 0 0;
	}

	#events-filter-form label {
		float: left;
		margin-right: 32px;
	}

	#events-filter-form {
		margin-bottom: 20px;
	}

	.events-listing {
		margin-top: 20px;
		display: block;
		overflow: hidden;
		list-style-type: none;
	}

	.events-listing li {
		background: #fff;
		margin: 0 0 10px 0;
		padding: 0 0 10px 0;
		border-bottom: 1px dashed #ddd;
		font-size: 12px;
		color: #555;
	}

	.events-listing img {
		padding: 0 10px 0 0;
	}

	.events-listing p {
		line-height: 17px;
		color: #777;
		font-size: 11px;
	}

	.events-listing p strong {
		color: #444;
	}

	body.imea-events .column-search {
		border-bottom: 1px solid #dfdfdf;
		padding-bottom: 20px;
		margin-bottom: 10px;
	}

	body.imea-events .column-search select {
		margin-bottom: 15px;
		margin-right: 10px;
	}

	body.imea-events a.link {
		display: inline;
	}

	body.imea-events .column-search label {
		margin-bottom: 5px;
	}

	/* Calendar */
	.calendar {
		margin: 0;
		padding: 0;
		width: 230px;
	}

	.calendar th,
	.calendar thead th,
	.calendar caption {
		padding: 3px;
		margin: 0 !important;
		/* background: #EDF3FE; */
		border: 1px solid #EDF3FE;
		color: #555555;
	}

	.calendar caption {
		padding: 5px 0;
		font-weight: bold;
		color: #000;
		background: #eee;
		text-transform: uppercase;
		color: #000;
		font-size: 14px;
		border: none;
		border-bottom: 1px solid #ddd;
		line-height: 26px;
	}

	.calendar .calendar-prev a,
	.calendar .calendar-next a {
		font-weight: bold;
		text-decoration: none;
	}

	.calendar-month {
		font-weight: bold;
	}

	.calendar-prev,
	.calendar-next {
		font-size: 16px;
		line-height: 14px;
		vertical-align: middle;
		padding: 5px 10px;
	}

	.calendar-prev {
		float: left;
		border-right: 1px solid #ccc;
	}

	.calendar-next {
		float: right;
		border-left: 1px solid #ccc;
	}

	.calendar {
		width: 100%;
	}

	.calendar td {
		padding: 4px 0 0;
		margin: 0;
		border: 1px solid #e6e6e6;
		text-align: center;
		height: 50px;
		width: 40px;
		color: #555;
		background: #fff;
	}

	.calendar .event-logo {
		display: inline;
		margin: 5px 5px 0 0;
		width: 16px;
		height: 22px;
	}

	.calendar .today-day {
		background-color: #ececec !important;
		color: black;
		font-weight: bold;
	}

	.calendar .today-day a {
		font-weight: bold;
	}

	.calendar th {
		font-weight: bold;
		font-size: 10px;
		text-transform: uppercase;
		background: none;
		border: none;
		border-bottom: 1px solid #ddd;
	}

	.calendar td {
	}

	.calendar td a {
		font-weight: normal;
		font-size: 11px;
	}

	.calendar .active-day {
		background: #f1f1f1;
		color: #000;
	}

	.events-listing {
		padding: 1px;
	}

	body.home .calendar td,
	.details-column-1 .calendar td {
		height: 25px;
	}

	/* insert more pages specific stuff here */
	#events-box-content img {
		max-width: 40px;
		max-height: 55px;
	}

	/* newsletter */
	.newsletter-content {
		margin: 30px 0 30px 0;
	}

	.decision-treaty {
		width: 100px;
		height: 120px;
		float: left;
		text-align: center;
	}

	.letter-box {
		padding: 10px 0 10px 10px;
		width: 100px;
		margin-right: 30px;
		float: left;
	}

	/* search results */
	ul.search-results {
		list-style-type: none;
		margin: 0;
		padding: 0;
	}

	ul.search-results a.closed {
		background: transparent url('images/expand.gif') no-repeat left center;
	}

	ul.search-results a.loading {
		background: transparent url('images/loading-arrow.gif') no-repeat left center;
	}

	ul.search-results h2 {
		color: black;
		font-weight: bold;
		font-size: 14px;
		margin: 3px;
		padding: 0;
	}

	ul.search-results h3 {
		color: black;
		font-weight: bold;
		font-size: 14px;
		margin: 3px;
		padding: 0;
	}

	ul.search-results li {
		padding: 5px 0 0 0;
	}

	ul.search-results li img {
		float: left;
		margin-top: -15px;
	}

	ul.search-results li.treaty,
	ul.tab1 li.decision,
	ul.tab1 li.treaty,
	ul.tab1 li.event {
		margin: 0 0 25px 0 !important;
	}

	ul.search-results div.content {
		margin: 5px 0 0 25px;
	}

	ul.search-results li a.arrow {
		padding-left: 15px;
		width: 10px;
		height: 16px;
	}

	ul.search-results a.external {
		float: left;
		margin-left: 5px;
		width: 16px;
		height: 16px;
		background: url('images/external.png') center no-repeat;
	}

	ul.search-results div.highlight {
		background-color: #F6F6F6;
		font-style: italic;
		border: 1px dashed #C0C0C0;
		padding: 5px 0 5px 15px;
	}

	ul.search-results strong.highlight {
		color: red;
	}

	body.imea-search .toolbar {
		margin-bottom: 10px;
	}

	.matching-article {
		margin-left: 15px;
	}

	.matching-paragraphs {
		margin-left: 30px;
	}

	.matching-paragraph {
		margin: 0 0 10px 15px;
		font-style: italic;
	}

	.matching-decision {
		margin-left: 15px;
	}

	.result-treaty .matching-decisions {
		margin-left: 15px;
	}

	.matching-documents {
		margin-left: 30px;
	}

	.matching-document {
		margin-left: 15px;
	}

	a.toggle-result,
	a.toggle-result:hover,
	a.toggle-result:visited,
	a.toggle-result:active,
	a.download-link,
	a.download-link:hover,
	a.download-link:visited,
	a.download-link:active {
		text-decoration: none;
	}

	.index_and_or {
		margin-right: 10px;
		float: left;
		margin-top: -5px;
		width: 40px;
	}

	.index_and_or label {
		font-size: 8px;
		float: left;
	}

	#q_term_and_index {
		border: 0 !important;
		margin-left: 1px !important;
	}

	#q_term_or_index {
		border: 0 !important;
		margin-left: -19px !important;
	}

	.treaties-details-info h1 {
		width: 170px;
	}

	.treaties-details-info .img {
		width: 40px !important;
	}

	.news-box {
		height: 294px;
	}
}
