@media screen {
	/* To prevent PocketPC from loading the stylesheet */
	#feedback-form fieldset {
		margin: 0;
		border: none;
		width: 100%;
	}

	#feedback-form legend {
		background: #FFFFFF;
		padding: 0 5px;
		font-style: italic;
		font-size: 20px;
	}

	#feedback-form p {
		clear: both;
		margin: .5em 0;
	}

	#feedback-form label {
		float: left;
		width: 100px;
		display: block;
		text-align: right;
		margin-right: 10px;
	}

	#feedback-form input, #feedback-form textarea {
		margin: 0;
		border: 1px solid #DDDDDD;
		padding: 3px 5px 3px 25px;
	}

	#feedback-form input#feedback_name {
		background: #FFFFFF url('images/feedback/form-name.png') no-repeat 5px 50%;
	}

	#feedback-form input#feedback_email {
		background: #FFFFFF url('images/feedback/form-email.png') no-repeat 5px 50%;
	}

	#feedback-form textarea#feedback_message {
		background: #FFFFFF url('images/feedback/form-note.png') no-repeat 5px 6px;
	}

	#feedback-form textarea {
		height: 125px;
		overflow: auto;
	}

	#feedback-form p.submit {
		clear: both;
		padding: .5em 70px;
		float: right;
	}

	#feedback-form button {
		border: none;
		width: 145px;
		height: 25px;
		background: url('images/feedback/submit.png') no-repeat left center;
		color: #333333;
		cursor: pointer;
		text-align: center;
		font-size: 12px;
		font-weight: bold;
		text-shadow: 0 1px 1px #FFFFFF;
		-moz-text-shadow: 0 1px 1px #FFFFFF;
		-webkit-text-shadow: 0 1px 1px #FFFFFF;
	}

	.feedback-form-holder .left {
		margin: 0 !important;
		padding: 0 !important;
		width: 450px;
	}

	div.feedback-form-holder {
		display: block;
		position: relative;
		margin-top: 0;
		display: block;
		overflow: hidden;
		border-top: 1px solid #DDD;
	}

	.feedback-form-holder .right {
		padding-top: 60px;
		width: 450px;
	}

	.feedback-form-holder .related-title {
		max-width: 200px !important;
	}

	.feedback-message {
		margin: 0px;
		padding: 5px 5px 5px 25px;
		background-color: lightYellow;
		border: 1px solid #E6DB55;
		list-style-type: square;
		color: red;
		font-size: 120%;
	}

	#recaptcha_area {
	}

	/* customize recaptcha to match informea colors */
	.recaptchatable .recaptcha_image_cell, #recaptcha_table {
		background-color: #FFF;
	}

	#recaptcha_table {
		border-color: #FFF;
	}

	#recaptcha_response_field {
		padding: 2px 2px 2px 2px !important;
		width: 246px !important;
		font-family: Arial, Helvetica, sans-serif !important;
		font-size: 12px !important;
		border: 1px solid #DDD !important
	}

	#recaptcha_tagline {
		display: none;
	}

	.recaptchatable .recaptcha_image_cell #recaptcha_image {
		border: 0 !important;
	}

	#feedback-form .button {
		margin: 20px 0 20px 110px;
	}
}

/*  @media screen */
