@media screen {

    /* Drop shadow on widgets */
    li.widget {
        /* For IE 5.5 - 7 */
        filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#c2c2c2');
    }

    .noshadow {
        filter: none !important;
    }

    li.widget.index-explorer form { margin: 0; padding: 0; }
    li.widget.index-explorer input { margin: 0; padding: 0; }

    li.widget.index-explorer h2 {
        top: -20px;
        position: relative;
        height: 20px;
        display: inline-block;
        margin: 0; padding: 0;
    }

    li.widget.news-categories ul li {
        display: inline;
    }
}
