/* high resolution screens */
@media (-webkit-min-device-pixel-ratio: 2),
(min--moz-device-pixel-ratio: 2),
(min-resolution: 300dpi) {
	header {
		background-image: url(header-highres.png);
	}
}

/* low resolution screens */
@media (-webkit-max-device-pixel-ratio: 1.5),
(max--moz-device-pixel-ratio: 1.5),
(max-resolution: 299dpi) {
	header {
		background-image: url(header-lowres.png);
	}
}

* {
	width: auto !important;
	height: auto !important;
	min-width: 0px !important;
	text-align: left !important;
}

html {
	overflow-y: scroll;
	overflow-x: hidden;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}

body {
	background: none;
	font-family: Arial, Helvetica, sans-serif;
	-webkit-overflow-scrolling: touch;
	line-height: 1.7 !important;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
	cursor: pointer; /* 1 */
	-webkit-appearance: button; /* 2 */
}

input[type="checkbox"],
input[type="radio"] {
	box-sizing: border-box;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
	border: 0;
	padding: 0;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

h1 {
	font-size: 1em !important;
}

#footer .left table tr td img,
.logos img {
	height: 25px !important;
}

#branding {
	padding-top: 10px;
	padding-left: 10px;
}

#top-nav-item,
.related-box.spotlight,
.related-box.promos.justify,
.news, div.col3-right,
div.feedback-form-holder,
.lof-slidecontent,
#access .menu-header li:first-child,
.details-column-1,
.details-column-3,
.treaty-icon span,
.imea-countries .view-mode {
	display: none !important;
}

.imea-countries .list-item-title-click {
	display: inline-block;
	height: 50px !important;
}

#masthead {
	overflow: hidden;
	margin: 0;
}

#logo-holder a {
	background: url("images/logo-short.png") no-repeat scroll left top transparent;
	display: block;
	height: 37px;
	margin-bottom: 0px !important;
	text-indent: -9000px;
	width: 250px;
}

#logo-image {
	height: 37px !important;
}

#access {
	display: block;
	height: 34px;
	margin: 0;
}

#access .menu-header li, div.menu li {
	float: left;
	height: 34px;
}

#access .menu-header a {
	background: none;
	color: #FFFFFF;
	display: block;
	font-weight: normal;
	padding: 0px 4px;
	text-decoration: none;
	text-transform: uppercase;
}

#access .menu-header ul li a:hover,
#access .menu-header ul li a.current {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
}

#index-search .ui-autocomplete-input {
	width: 95% !important;
}

#main {
	background: none repeat scroll 0 0 #FFFFFF;
	border: 0;
	display: block;
	margin: 0;
	padding: 10px;
}

body.home.col-3 #content {
	background: none;
}

body.col-3 #content {
	background: none;
	overflow: hidden;
}

body.home #main .col3 {
}

#main .col3, #main .col3-left {
	float: none;
}

#main .col3, #main .col3-center {
	float: none;
	margin-right: 0 !important;
}

.related-box {
	display: block;
	margin-bottom: 10px;
	overflow: visible;
}

.related-box.promos {
	height: 100%;
}

#index-search {
}

#colophon {
}

.logos-col-2 {
	margin-left: 0;
}

.treaty-entry {
	margin-right: 30px !important;
}

.standartTreeRow {
	font-size: 12px !important;
	line-height: 1 !important;
}